name: ci

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]

    steps:
      - name: Prepare git
        run: git config --global core.autocrlf false
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '8'
      - uses: actions/setup-node@v1
        with:
          node-version: '12'

      - name: Cache Gradle and Node packages
        uses: actions/cache@v2
        with:
          path: |
            ~/.ivy2/cache
            ~/.m2
            ~/.gradle/caches
            ~/.gradle/wrapper
            ~/.npm
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-gradle-node-
            ${{ runner.os }}

      - name: build-java (rdflint)
        run: ./gradlew build --no-daemon --stacktrace

      - name: build-node (vscode-rdflint)
        run: |
          cd vscode-rdflint
          npm ci
          npm run compile --if-present

      - name: Cleanup Gradle Cache
        shell: bash
        run: |
          rm -f ~/.gradle/caches/modules-2/modules-2.lock
          rm -f ~/.gradle/caches/modules-2/gc.properties

      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: gradle-reports-${{ runner.os }}
          path: build/reports
